/.env
/.idea/
/.secrets
/sec.txt
SNOW_CONFIG_B64
IMPROVEMENTS.md
*.pem
**/.DS_Store

/sql-unit-reports/
/sql-report-vol/
/github-runner/sql-unit-reports/
/github-runner/sql-report-vol/
/github-runner/unit-report/
/github-runner/report.th/
/github-runner/dependencies/
/dependencies/
/backup/
.snowflake/cortex/
